.pokeList {
  list-style-type: none;
}
.button-design {
  width: 33%;
  display: block;
  background-color: #FFD700;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 4.5vw;
  border: none;
  text-align: center;
  padding: 10px 10px;
  margin: 8px 8px;
  border-radius: 14px;
  transition-duration: 0.1s;
  box-shadow: 0 18px 12px 0 rgba(54,42,1,0.1), 0 24px 20px 0 rgba(54,42,1,0.1)
}

.button-design:hover {
  background-color: #ffd650;
  box-shadow: 0 18px 12px 0 rgba(54,42,1,0.1), 0 32px 26px 0 rgba(54,42,1,0.1);
  opacity: 0.9;
}

.button-design:active {
  border: none;
  box-shadow: 0;
}
body {
  padding-top: 50px;
  /* text-align: center; */
}

.my-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.my-class:hover {
  background-color: #4caf50;
  color: white;
}

#modal-container {
  display: none;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  border-radius: 10px;
}

.modal h1 {
  margin-top: 10px;
}

.modal p {
  text-align: center;
  margin-bottom: 0;
}

#modal-container.is-visible {
  display: block;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /*to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  text-align: center;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.modal-close {
  -moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #b8e356),
    color-stop(1, #a5cc52)
  );
  background: -moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: -webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: -o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
  background-color: #b8e356;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #86ae47;
  float: right;
}
